/* https://www.reactbits.dev/backgrounds/prismatic-burst?intensity=0.5&distort=7.9&color0=5557f7&color1=3a76ed&color2=637df1 */

.prismatic-burst-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
