/* Made using https://wweb.dev/resources/animated-css-background-generator */

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-120vh) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #f2f3ff;
    overflow: hidden;
    z-index: -1;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(150, 150, 255, 0.4);
    animation: animate 19s linear infinite;
    bottom: -280px;
}

.background li:nth-child(1) {
    left: 0%;
    width: 249px;
    height: 249px;
    animation-delay: -1s;
}
.background li:nth-child(2) {
    left: 27%;
    width: 243px;
    height: 243px;
    animation-delay: -3s;
}
.background li:nth-child(3) {
    left: 24%;
    width: 253px;
    height: 253px;
    animation-delay: -15s;
}
.background li:nth-child(4) {
    left: 49%;
    width: 190px;
    height: 190px;
    animation-delay: -9s;
}
.background li:nth-child(5) {
    left: 30%;
    width: 272px;
    height: 272px;
    animation-delay: -12s;
}
.background li:nth-child(6) {
    left: 12%;
    width: 191px;
    height: 191px;
    animation-delay: -5s;
}
.background li:nth-child(7) {
    left: 88%;
    width: 162px;
    height: 162px;
    animation-delay: -7s;
}
.background li:nth-child(8) {
    left: 85%;
    width: 198px;
    height: 198px;
    animation-delay: -18s;
}
.background li:nth-child(9) {
    left: 20%;
    width: 165px;
    height: 165px;
    animation-delay: -13s;
}
.background li:nth-child(10) {
    left: 53%;
    width: 247px;
    height: 247px;
    animation-delay: -2s;
}
.background li:nth-child(11) {
    left: 62%;
    width: 220px;
    height: 220px;
    animation-delay: -11s;
}
.background li:nth-child(12) {
    left: 24%;
    width: 211px;
    height: 211px;
    animation-delay: -16s;
}
.background li:nth-child(13) {
    left: 80%;
    width: 178px;
    height: 178px;
    animation-delay: -6s;
}
.background li:nth-child(14) {
    left: 85%;
    width: 236px;
    height: 236px;
    animation-delay: -4s;
}
.background li:nth-child(15) {
    left: 60%;
    width: 167px;
    height: 167px;
    animation-delay: -14s;
}
.background li:nth-child(16) {
    left: 51%;
    width: 217px;
    height: 217px;
    animation-delay: -8s;
}
.background li:nth-child(17) {
    left: 21%;
    width: 182px;
    height: 182px;
    animation-delay: -10s;
}
.background li:nth-child(18) {
    left: 73%;
    width: 236px;
    height: 236px;
    animation-delay: -17s;
}
.background li:nth-child(19) {
    left: 62%;
    width: 192px;
    height: 192px;
    animation-delay: -3s;
}
.background li:nth-child(20) {
    left: 44%;
    width: 254px;
    height: 254px;
    animation-delay: -19s;
}
.background li:nth-child(21) {
    left: 85%;
    width: 231px;
    height: 231px;
    animation-delay: -1s;
}
.background li:nth-child(22) {
    left: 3%;
    width: 256px;
    height: 256px;
    animation-delay: -5s;
}
.background li:nth-child(23) {
    left: 24%;
    width: 139px;
    height: 139px;
    animation-delay: -12s;
}
.background li:nth-child(24) {
    left: 73%;
    width: 274px;
    height: 274px;
    animation-delay: -8s;
}
.background li:nth-child(25) {
    left: 89%;
    width: 123px;
    height: 123px;
    animation-delay: -15s;
}